.row1{
    background-image: -webkit-linear-gradient(left, #c4e17f, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f,  #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #62c2e4);
}