<div class="p" style="height:600px">
  <div *ngIf="!isloggedIn"><h2 style="text-align:center;padding-top: 200px;">Login to view</h2></div>
    <div *ngIf="isloggedIn"style="padding-top: 150px;padding-left: 100px;padding-bottom: 150px;width:700px;height:450px">
      <div> <a class="btn btn-primary" (click)="hideOne()" > 2021</a>
       <div style="padding-left: 70px;margin-top: -38px;"><a class="btn btn-primary" (click)="hideOne1()" > 2020</a></div> 
        <div style="padding-left: 140px;margin-top: -38px;"><a class="btn btn-primary" (click)="hideOne2()" > 2019</a></div>
        <div>
          <div style="display: block" style="padding-top: 20px;">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
          <a class="btn btn-primary"(click)="randomize()" >Update</a>
        </div>
      </div>
    </div></div>
