/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
.img{
    background-image: url('../assets/aKpmKmx.jpg');
    position: relative;
    padding-top: 100px;
    height:578px;
}

[data-animate="move in"]{
    position: relative;
    width: 100vw;
    color:blue;
    /* height: 100vh; */
    padding-top: 50px;
    /* margin-bottom: -100px; */
    opacity: 1;
    animation: moveIn 10s infinite;
    text-align: center;
    transform: rotate(20deg);
    transform: translate3d(20px, 20px, 0px);
}
  @keyframes moveIn {
    0%{
    font-size: 10em;
    left: 0;
    opacity: 0;
    text-shadow: none;
    }
    10% 
    {
      opacity: 1;
      text-shadow:
      .2em -.2em 4px white,
      .4em -.4em 4px #777,
      .6em -.6em 4px greenyellow,
      .8em -.8em 4px #111;
    }
    80%{
        font-size: 20em;
        left: -5em;
        opacity: 1;
      }
      /* 100%{
        font-size: 30em;
        left: -5em;
        opacity: 0;
        text-shadow:
        .02em -.02em 4px #aaa,
        .04em -.04em 4px #777,
        .06em -.06em 4px #444,
        .08em -.08em 4px #111;
      } */
  }
  .k{
   
     padding-top: 150px;
    text-align: center;
    color:black;
    text-shadow:2px 2px white;
    text-overflow: ellipsis;
   
   
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.k:hover {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
        0 3px 0 rgb(211, 214, 210), 0 4px 0 #ccc,
        0 5px 0 rgba(240, 145, 145, 0.911), 0 6px 0 #ccc,
        0 7px 0 rgb(163, 155, 190), 0 8px 0 #ccc,
        0 9px 0 rgb(221, 118, 187), 0 10px 0 #ccc,
        0 11px 0 rgb(235, 233, 157), 0 12px 0 #ccc,
        0 20px 30px rgba(104, 187, 207, 0.5);
}


