<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">BlueMoon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline md-form form-sm mt-0" style="padding-left: 50px;" *ngfor="let s of mysong">
    <i class="fas fa-search" aria-hidden="true" style="color:white;"></i> 
    <input class="form-control form-control-sm ml-3 w-200" type="text" placeholder="Search" aria-label="Search">
    
    
  </form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" >
        <a class="nav-link active" routerLink="Home" routerLinkActive="active" required><i class='fas fa-home' style='font-size:15px;color:red;padding-right: 5px;'></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  >
        <a class="nav-link" routerLink="Aboutt" routerLinkActive="active" required><i class="fas fa-info-circle" style='font-size:15px;color:red;padding-right: 5px;' ></i>About</a>
      </li>
     
    <li class="nav-item" >
        <a class="nav-link" routerLink="Songss" routerLinkActive="active" required ><i class='fas fa-music' style='font-size:15px;color:red;padding-right: 5px;'></i>Songs List</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="list" routerLinkActive="active" required><i class='fas fa-file-audio' style='font-size:15px;color:red;padding-right: 5px;'></i>PlayList</a>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fas fa-user' style='font-size:15px;color:red;padding-right: 5px;'> </i>User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" routerLink="profile/:id" routerLinkActive="active"> Profile </a> 
          <a class="dropdown-item" (click)=logOut()>LogOut</a>
          </div>
      </li>
    
      <li class="nav-item" >
        <a class="nav-link" routerLink="view" routerLinkActive="active" required><i class="fa fa-chart-bar" style='font-size:15px;color:red;padding-right: 5px;' ></i>Top viewed Songs</a>
      </li>
    <li class="nav-item" *ngIf="isloggedIn">
        <a class="nav-link" routerLink="SignIn" routerLinkActive="active" required><i class="fas fa-sign-in-alt" style='font-size:15px;color:red;padding-right: 5px;'></i>Login</a>
      </li>
      </ul>
  </div>
</nav>

<!-- <div id="intro" class="view"> -->
  <!-- <img src="../assets/download1.png"  style="width:1300px;height:700px"> -->
  
  <!-- <div class= " full-bg-img"> -->
    <!-- <img src="../assets/download1.png"  style="width:1300px;height:600px"> -->
    

   



    <!-- <nav class="navbar navbar-expand-lg fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="padding-left: 40px;"href="#"><i class="material-icons" style="font-size:38px;color:red"><b>BlueMoon</b></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <form class="form-inline md-form form-sm mt-0" style="padding-left: 20px;">
              <i class="fas fa-search" aria-hidden="true"></i> 
              <input class="form-control form-control-sm ml-3 w-150" type="text" placeholder="Search" aria-label="Search">
            </form>
             <form class="d-flex" style="padding-left: 80px;">
              <input class="form-control me-2" type="search" placeholder="SearchSong"  aria-label="Search">
              <button type="submit"><i class="fa fa-search" style="color:red;"></i></button>
            </form> 
            <li class="nav-item" style="padding-left: 50px;">
              <a class="nav-link" routerLink="Home" routerLinkActive="active"><i class='fas fa-home' style='font-size:15px;color:red;padding-right: 5px;'></i><b>Home</b><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="padding-left: 50px;">
              <a class="nav-link" routerLink="Aboutt" routerLinkActive="active"><i class="fas fa-info-circle" style='font-size:15px;color:red;padding-right: 5px;' ></i><b>About</b></a>
            </li>
            <li class="nav-item" style="padding-left: 50px; ">
              <a class="nav-link" routerLink="Songs" routerLinkActive="active"><i class='fas fa-music' style='font-size:15px;color:red;padding-right: 5px;'></i><b>Songs</b></a>
            </li>
            <li class="nav-item" style="padding-left: 50px;">
              <a class="nav-link" routerLink="Play" routerLinkActive="active" ><i class='fas fa-file-audio' style='font-size:15px;color:red;padding-right: 5px;'></i><b>Playlist</b></a>
            </li>

            <li class="nav-item dropdown" style="padding-left: 50px;" *ngIf="hiddenProperty">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <b> User</b>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">LogOut</a>
                </div>
            </li>

            <li class="nav-item" style="padding-left: 50px;" *ngIf="hiddenProperty1">
              <a class="nav-link" routerLink="SignIn" routerLinkActive="active"><i class="fas fa-sign-in-alt" style='font-size:15px;color:red;padding-right: 5px;'></i><b>Login</b></a>
            </li>
             
            
          </ul>
          
        </div>
       
        
      </div>
    </nav>-->
    
   
  <!-- </div> -->
<!-- </div> -->


   
<!-- <div style="padding-top: 90px;">
  <div class=" footer text-center text-white" style="width:1300px;background-color: black;">
   
      <section class="mb-6">
       
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
       
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
       
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
       
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
       
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
     
   
  
  
    <div class="text-center p-3" style="background-color:black;">
      © 2021 Copyright:
      <a class="text-black" href="https://mdbootstrap.com/">BlueMoon.com</a>
    </div>
   
  </div>
</div> -->

 <!-- <app-home></app-home> -->
 
<router-outlet></router-outlet>
<!-- <div class="img">
   <article data-animate="move in">
    <h1 class="w">BlueMoon Welcomes You!</h1>
    
  </article> 
  <h1  class="k"style="color:black;text-align:Center;">Get started with your favourite songs!<br>
  --On BlueMoon--</h1>
</div>
<router-outlet></router-outlet> -->